* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 200vh;
    width: 200vh;

}

.div-pai {
    height: 350px;
    width: 350px;
    background-color: #ff1396;
}

.div-son {
    height: 150px;
    width: 150px;
    background-color: #ffff00;
}

.div-tananana {

    height: 150px;
    width: 150px;
    background-color: red
}