* {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-weight: 400;
}


.principal {
    width: 100vh;
    right: 100vw;
}

.conteiners-left {
    display: inline-block;
    width: 60%;
    padding: 136px;
    margin-top: 225px;
}

h1 {
    width: 368px;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    /* or 114% */
    color: #5D5D7D;
}

p {
    Size: 28px;
    line-height: 28px;
    opacity: 0.6;
    margin: 15px 0px;
    width: 440px;
}

button {
    width: 269px;
    height: 62px;
    background: #9499EA;
    Line-height: 35.57px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    border: none;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .5;
}



.conteiners-right {
    display: inline-block;
    background-color: rgba(93, 93, 125, 0.16);
    position: absolute;
    height: 100vh;
    width: 40%;
    top: 25%;
    right: 130px
}

.link-header {
    width: 59px;
    height: 41px;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    color: #5D5D7D;
    opacity: .9;
    margin: 24px 0 0 25px;
    cursor: pointer;
}

a:nth-child(2) {
    opacity: .4;
}

a:hover {
    opacity: .4;
}

a:active {
    opacity: .8;
}

@media screen and (max-width: 900px) {

    .conteiners-left {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .conteiners-right {
        display: block;
        position: static;
        height: auto;
        width: 100%;
        padding: 40px;
    }

    img {
        position: static;
        max-width: 70%;
        border-top: 15px;

    }

    header {
        display: none;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 60px;
        text-align: center;
        width: auto;
        font-size: 14px;
        font-weight:  24px;
    }

    button {
        margin: 0 auto;
        display: block;
    }

}