* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

header {
    margin-left: 47px;
    margin-top: 47px;
}

.link-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #17233D;
    cursor: pointer;
    margin-right: 23px;

}

.button-header {

    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    cursor: pointer;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
}



.projeto-image {

    width: 660px;
    height: 500px;
    margin-left: 25px;
    display: inline-block;

}

section {

    margin-left: 56px;
    display: inline-block;
}

h1 {


    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
    width: 500px;
    margin-top: 150px;

}

p {

    font-weight: 400;
    font-size: 18px;
    width: 500px;
    margin-top: 45px;
    margin-bottom: 35px;
    color: #4B505A;

}


.button-section {

    background: transparent;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    height: 27px;
    left: 55.62%;
    right: 36.6%;
    top: calc(50% - 27px/2 + 296.5px);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;

}