h1 {
    color: red;
    font-size: 64px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 10px black;


}

p {
    color: blue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    line-height: 30px;
    letter-spacing: 10px;
    word-spacing: 10px;
    text-align: justify;
    text-transform: capitalize;   
    text-decoration: underline;

}